@font-face {
  font-family: "Roboto-Bold";
  src: url(assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(assets/fonts/Roboto-Regular.ttf);
}
body {
  background-color: hsl(234, 29%, 20%);
}
#mainContainer {
  width: 800px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
#subContainer {
  margin-left: 60px;
  width: 300px;
  height: 400px;
  transform: scale(1.1) translateX(25px);
}
#heading {
  padding-top: 70px;
  font-family: "Roboto-Bold";
  font-size: 40px;
  text-align: left;
}
#iconImg1 {
  transform: scale(0.8);
}
#iconImg2 {
  margin-bottom: -27px;
  margin-left: -25px;
  transform: scale(0.8);
}
#iconImg3 {
  margin-bottom: -55px;
  margin-left: -25px;
  transform: scale(0.8);
}
#mainImage {
  transform: translateX(470px) translateY(-412px);
  height: 470px;
}
.paragraphs {
  font-family: "Roboto-Regular";
  transform: translateY(-35px) translateX(33px);
  font-size: 13px;
}
#mainParagraph {
  font-size: 15px;
  text-align: left;
  transform: translateX(0) translateY(-10px);
}
#emailText {
  transform: translateY(2px) translateX(3px);
  font-family: "Roboto-Bold";
  font-size: 10px;
}
#invalidEmail {
  font-family: "Roboto-Bold";
  transform: translateY(-20px) translateX(210px);
  font-size: 10px;
  color: white;
}
#emailInput {
  transform: translateY(-25px);
  width: 285px;
  height: 30px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#subscribeButton {
  background-color: hsl(234, 29%, 20%);
  color: white;
  border-radius: 3px;
  transform: translateY(-18px);
  font-family: "Roboto-Regular";
  width: 304px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
@media (min-width: 2560px) {
  #mainContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.9);
  }
}
@media (width: 768px) {
  #mainContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@media (max-width: 500px) {
  #mainContainer {
    width: 300px;
    height: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  #mainImage {
    transform: translateX(20px) translateY(-70px);
    height: 0px;
    width: 0px;
  }
  #imageContainer {
    background-image: url("assets/images/illustration-sign-up-mobile.svg");
    transform: translateY(-460px) scale(0.9) translateX(-54px);
    height: 265px;
    width: 425px;
  }
  #subContainer {
    transform: scale(0.9) translateX(-68px) translateY(145px);
  }
  #emailInput {
    transform: translateY(-25px);
    width: 290px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  #subscribeButton {
    background-color: hsl(234, 29%, 20%);
    color: white;
    border-radius: 3px;
    transform: translateY(-18px);
    font-family: "Roboto-Regular";
    width: 304px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 14px;
  }
  #iconImg1 {
    transform: scale(0.8);
  }
  #iconImg2 {
    margin-bottom: -40px;
    margin-left: -25px;
    transform: scale(0.8);
  }
  #iconImg3 {
    margin-bottom: -80px;
    margin-left: -25px;
  }
  #paragraph1 {
    transform: translateY(-34px) translateX(33px);
  }
  #paragraph2 {
    transform: translateY(-23px) translateX(33px);
  }
  #paragraph3 {
    transform: translateY(-11px) translateX(33px);
  }
}
